@import "tailwindcss";

@theme {
    --color-ptso-blue-primary: #DAEDFE;
    --color-ptso-blue-secondary: #B6CDE4;
    --color-ptso-blue-accent: #80AED9;
    --color-ptso-purple-primary: #7676CC;
    --color-ptso-purple-secondary: #4545A4;
    --color-ptso-purple-accent: #151539;
    --color-ptso-pink-primary: #D092AA;
    --color-ptso-pink-secondary: #B06985;
    --color-ptso-pink-accent: #A85173;
  
    --be_vietnam_pro-font: "Be_Vietnam_Pro";
    --quicksand-font: "Quicksand";
  }